@import 'styles/variables.css';

.details {
  &_container {
    background: #fff;
    padding: 2%;
    color: rgba(0, 0, 0, 1);
  }
  &_image {
    width: 100%;
    display: block;
  }
  &_footer {
    color: rgba(0, 0, 0, 1);
  }
}
.rating {
  margin-top: $base-spacing;
  position: realtive;
  display: block;
  margin-bottom: 1.5rem;
}
.ratingScore, .stars {
  display: inline;
}
.stars {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: $starGrey;
  overflow: hidden;
  margin-left: calc($base-spacing / 2);
}
.fullStars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: $starYellow;
}
.emptyStars:before, .fullStars:before {
  content:'\2605\2605\2605\2605\2605';
  font-size: 1rem;
}
